{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Covid-19 Everywhere</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}"  rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/ ">Shop COVID-19</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="sai/profile">My profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{%  static 'affiliate/images/1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Shop Corona Safety Accessories</h3>
            <p>Find Best deals of Covid Measures online!!</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{%  static 'affiliate/images/2.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>N95 Mask</h3>
            <p>Cover Your Face Not your Symptoms</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{%  static 'affiliate/images/3.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Paper Towel</h3>
            <p>Finding Tissue is not a Big issue</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Covid Accessories</h1>

    
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Portfolio Heading</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3azrF48"><img class="card-img-top" src="{% static 'affiliate/images/t0.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3azrF48">N95 Mask</a>
            </h4>
            <p class="card-text">KN95 Standard for Respirator,Self-Priming Filter Type Anti-particulate Respirator,Cleaning, DIY,Construction,Home use,Woodworking,Mowing & More info(30PACK)</p>
            <a href="https://amzn.to/3azrF48" class="btn btn-secondary">$ 39.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2xDOvbV"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2xDOvbV">Alan Walker Safety Mask</a>
            </h4>
            <p class="card-text">LManiLuck Alan Walker Cosplay Accessories Black Glowing Face/Mask Gloves/Wallet</p>
            <a href="https://amzn.to/2xDOvbV" class="btn btn-secondary">$ 18.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2xBO0ix"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2xBO0ix">Paper Towel</a>
            </h4>
            <p class="card-text">Tork Universal Hand Towel Roll H80, Economic Paper Hand Towel 8031600, 100% Recycled, Basic Quality, 1-Ply, White - 6 Rolls x 630 ft</p>
            <a href="https://amzn.to/2xBO0ix" class="btn btn-secondary">$ 76.56</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/39rW3Mc"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/39rW3Mc">Nitrile Safety Gloves</a>
            </h4>
            <p class="card-text">Nitrile Work Gloves for Medical Examination – Disposable, Latex-Free and Powder-Free Medical Supplies (100/L (Large))</p>
            <a href="https://amzn.to/39rW3Mc" class="btn btn-secondary">$ 19.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
              <a href="https://amzn.to/39rW3Mc">Nitrile Safety Gloves</a>
          <a href="https://amzn.to/2UqhyJc"><img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2UqhyJc">Sterilization Wipes</a>
            </h4>
            <p class="card-text">Sterilization Wipes,Hand Sanitizer Wipe Pocket Size Travel Pack Bulk 50 Portable Alcohol Swabs Pads Wipes for Phone, Elevator, Keyboard, Toy, Refrigerator</p>
            <a href="https://amzn.to/2UqhyJc" class="btn btn-secondary">$ 30.79</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3dxG02G"><img class="card-img-top" src="{% static 'affiliate/images/t5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3dxG02G">Corona Safety Goggles</a>
            </h4>
            <p class="card-text">Uvex S3815 Strategy Safety Goggles, Gray Body, Clear Uvextra Anti-Fog Lens, Indirect Vent with Foam, Fabric Headband.</p>
            <a href="https://amzn.to/3dxG02G" class="btn btn-secondary">$ 15.73</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <br/><br/>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="2025092-20"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="CA"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="auto"; amzn_assoc_height ="auto"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="corona";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=CA"></script>
      </div>
      <div class="col-lg-6">
       <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="2025092-20"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="CA"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="auto"; amzn_assoc_height ="auto"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="mask";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=CA"></script>
      </div>
    </div>
    <!-- /.row -->

    <hr>
    <br/><br/>
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p></p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.ca/s?k=paper+towel&i=hpc&camp=15121&creative=330641&linkCode=ur2&linkId=c9466c6d305a0c2b3134da111979f9c1&tag=2025092-20">Shop Pandemic items!!</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js'  %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %} " ></script>

</body>

</html>
